body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
  text-align: justify;
}

ul {
  list-style: none;
}

header a {
  text-decoration: none;
}

header a:visited {
  color: #f9f9f9;
}

header a:hover {
  color: #ff98d7;
  border-bottom: 2px #ff98d7 solid;
  transition: 0.3s ease-out;
}

img {
  display: block;
  max-width: 100%;
}


body {
  margin: 0px;
  font-family: "Roboto", Helvetica, Arial, Sans-Serif;
  color: #f9f9f9;
  background-color: #ededed;
}

.botao1 {
  background: #0d0c0c;
  color: #f9f9f9;
  border: 2px solid #f9f9f9;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
}

.botao2 {
  background: none;
  border: none;
  color: #ff98d7;
  text-decoration: underline #ff98d7;
  border-radius: 3px;
}

.botao2:hover {
  text-decoration: underline 2px #ff98d7;
}

.botao3 {
  background: #ff98d7;
  color: #0d0c0c;
  text-transform: uppercase;
  padding: 15px 25px;
  border: none;
  font-weight: bold;
  border-radius: 3px;
}

/* cabeçalho */

header {
  width: 100%;
  background: #0d0c0c;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container-menu {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 70px 0px 70px;
}

.container-menu nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0;
  align-items: center;
  text-transform: uppercase;
  color:#f9f9f9;
}

/* conteudo princial */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding-top: 20px;
}

.container-bg {
  background: #070304;
  display: flex;
  padding: 130px 60px 85px 60px;
  justify-content: flex-start;
  width: 90%;
  background-image: url("../img/img_5.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  background-origin: padding-box;
}

.container-bg h1 {
  color: #ff98d7;
  font-size: 60px;
  font-family: sans-serif;
}

.card1 {
  padding: 0 30px;
  width: 70%;
}

.card1 .card1-1 {
  margin: 0px 0px 64px;
}

.card1 .card1-1 p {
  margin-top: 16px;
}

.card1-p1 {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  height: 36px;
}

.card2 {
  width: 40%;
}

.card2-img1,
.card2-img2 {
  display: flex;

}

.card2-p1,
.card2-p2 {
  margin: 24px;
  font-weight: bold;
  line-height: 30px;
}

.caixa1,
.caixa2 {
  border: 1px solid #0d0c0c;
  background: #0d0c0c;
  border-radius: 10px;
  margin: 40px 0px 20px;
}

.container-sobre {
  color: #0d0c0c;
  margin: 120px 0 120px 0;
  padding: 0px 60px 0px 60px;
}

.container-sobre-caixa {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.container-sobre-caixa img{
  margin: auto;
  display: block;
}

.container-sobre-caixa p {
  margin-right: px;
}

.container-sobre h1 {
  font-size: 48px;
  margin-bottom: 24px;
}

.container-sobre-caixa1,
.container-sobre-caixa2,
.container-sobre-caixa3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  line-height: 25px;
  text-align: center;
}

.container-sobre-caixa1 h2,
.container-sobre-caixa2 h2,
.container-sobre-caixa3 h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.container-sobre-caixa3-p {
  margin-top: 100px;
  font-weight: bold;
}


.container-duvidas {
  color: #0d0c0c;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  background-color: #939598;
}

.container-servicos {
  background: #0d0c0c;
}

.container-servicos-caixa {
  margin: 0 194px;
  text-align: center;
  margin: 128px 120px;
}

.container-servicos-caixa h1 {
  font-size: 48px;
}

.container-servicos-caixa p {
  font-size: 20px;
  margin: 24px 0px 64px;
}

.container-servicos-caixa0 {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  justify-content: center;
  gap: 32px;
}

.container-servicos-caixa0 p {
  font-size: 16px;
  margin: 8px 0px 16px;
}

.container-servicos-caixa1 {
  width: 440px;
  background: #000000ab;
  border-radius: 10px;
}
.container-servicos-caixa1-1 {
  margin: 24px;
}

.container-servicos-caixa1-1 p:nth-child(3) {
  font-size: 16px;
}

.container-vantagens {
  color: #000000ab;
  background: #ededed;
  max-width: 1200px;
  padding: 0px 60px 0px 60px;
}

.container-vantagens h1 {
  padding: 128px 0px 0px;
  text-align: center;
}

.container-vantagens p {
  padding: 24px 0px 40px;
  font-size: 20px;
  text-align: center;
}

.container-vantagens-caixa {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
  padding-bottom: 70px;
}

.container-vantagens h1 {
  font-size: 48px;
}
.container-vantagens-digital h2 {
  font-size: 32px;
}

.container-vantagens-digital p {
  padding: 0px;
  font-size: 16px;
  text-align: left;
  color: #000000ab;
}

.container-vantagens-digital {
  background: rgba(255, 152, 215,  0.15);
  border-radius: 10px;
  padding: 32px;
  width: 378px;
  box-shadow: rgb(0 30 30 / 16%) 0px 8px 16px 0px;
  cursor: pointer;
}

.container-vantagens-digital p:nth-child(2) {
  margin: 10px 0px 16px;
}

.container-vantagens-digital p:nth-child(7) {
  margin-top: 50px;
  font-weight: bold;
}

.container-vantagens-digital p:nth-child(8) {
  margin-top: 85px;
  font-weight: bold;
}

ol {
  margin: 0px 0px 20px 0px;
  list-style-type: none;
  padding: 0;
}

li {
  color: #000000ab;
}

.botao4 {
  background: #f9f9f9;
  border: 0.5px solid #6666;
  color: #666666;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.container-vantagens-digital ol li {
  display: flex;
  align-items: center;
}

.container-vantagens-digital ol li svg {
  margin-right: 3px;
}

.botao5 {
  background: #ff98d7;
  color: black;
  padding: 15px 25px;
  border: none;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

.botao {
  padding-bottom: 70px;
}

.container-duvidas {
  background: #ededed;
  padding: 0;
}

.perguntas_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.perguntas_container img {
  display: inline;
  padding-right: 10px;
}

.pergunta {
  text-decoration: underline #ff98d7;
  color: #0d0c0c;
  border: none;
  background-color: #ededed;
  font-family: "Roboto";
  font-size: 20px;
  font-style: italic;

}

.resposta {
  margin: 0;
  padding: 1px 12px;
  font-style: italic;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  width: 100%;
}

.footer-principal {
  padding: 0px 60px 0px 30px;
}

.container-footer {
  max-width: 1100px;
  display: flex;
  justify-content: flex-start;
  padding: 100px 0px 100px 0px;
  gap: 25px;
  text-align: justify;
}

footer .container-footer p {
  color: #939598;
  line-height: 40px;
}

footer .container-footer div {
  width: 200px;
}

footer .container-footer h6 {
  font-size: 16px;
  color: black;
  margin: 0;
}

footer a:visited {
  color:#007BC7;
}

footer a:hover {
  color: #ff98d7;
  border-bottom: 2px #ff98d7 solid;
  transition: 0.3s ease-out;
}